{% extends 'website/base.html' %}

{% block content %}
<div class="container">
        <div id="page">
	
                <div class="contentTitle"><h1>Dummy Homepage</h1></div>
                <div class="contentText">
                  <p>You may use this template on any site, anywhere, for free just please leave the link back to me in the footer. This template validates XHTML Strict 1.0, CSS Validates as well; enjoy :) </p>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer mi. Vivamus sit amet neque vitae sapien bibendum sodales. Curabitur elementum. Duis imperdiet. Donec eleifend porttitor sapien. Praesent leo. Quisque auctor velit sed tellus. Suspendisse potenti. Aenean laoreet imperdiet nunc. Donec commodo suscipit dolor. Aenean nibh. Sed id odio. Aliquam lobortis risus ut felis. Sed vehicula pellentesque quam.</p>
                </div>
                <div class="contentTitle"><h1>Another Title Goes Here!</h1></div>
                <div class="contentText">
                  <p>This particular template goes not have a naviagation panel; it was intended for simple sites.   I am also making a version of this template with navigation, check out to get it.</p>
                </div>
                <div class="contentTitle"><h1>Yet Another?</h1></div>
                <div class="contentText">Each title is an H1 tag, so choose them carefully :)</div>  
        </div>
 </div>
{% endblock %}
