{% extends 'website/base.html' %}
{% block content %}

<div class="container">
        <pre><h1>Assigned Issues</h1></pre>
        <!-- To do requests -->
        <pre><h3>To do:</h3></pre>
        <div class="requests">
        {% for request in requests %}
            <div class="request">
                <h2><a href="{% url 'request_single' request.slug %}">{{request.title}}</a></h2>
                <br/>
                {{request.snippet}}
                <br/>
                {% if request.is_closed == True %}
                <p>This request is closed</p>
                {% else %}
                <p>Request needs work</p>
                {% endif %}
            </div>
        {% endfor %}
        </div>

        <!-- closed requests -->
        <br/>
        <pre><h3>Closed:</h3></pre>
    
        <div class="requests">
        {% for request in closed_requests %}
            <div class="request">
                <h2><a href="{% url 'request_single' request.slug %}">{{request.title}}</a></h2>
                <br/>
                {{request.snippet}}
                <br/>
                {% if request.is_closed == True %}
                <p>This request is closed</p>
                {% else %}
                <p>Request needs work</p>
                {% endif %}
            </div>
        {% endfor %}
        </div>
</div>
{% endblock %}
